.cont1 {
  background-color: #eeeded;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img1 {
  width: 100px;
}

.titulo {
  font-size: 20px;
  font-weight: 100;
}
.cont2 {
  text-align: center;
  padding: 20px;
}
.precio {
  background-color: #eeeded;
  height: 50px;
  margin-top: 20px;
}
.mensajeFinal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 40px;
  margin-top: 100px;
  background-color: #eeeded;

  margin-right: 100px;
  margin-left: 100px;
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
}
