/* investigar modulos css */

.nav_group {
  background-color: #eeeded;
  height: 25px;
}

.container_navbar {
  width: 100%;
  height: 15vh;
  background-color: #eeeded;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.button {
  color: black !important;
  border-color: #eeeded !important;
  background-color: beige !important;
  transition: background-color 1s ease !important;
  font-size: 12px !important;
}

.button:hover {
  background-color: rgb(246, 224, 80) !important;

  border: solid 1px;
  color: white !important;

  box-shadow: 10px 10px 10px rgba(5, 5, 5, 0.5);
}

.img_logo {
  width: 60px;
}

.img_logo:hover {
  filter: brightness(150%);
  width: 75px;
}
